@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  max-width: 1600px;
  height: 7050px;
  
}
.sect-1{
  padding: 20px 140px 20px 140px;
  border: 1px solid black;
  margin: 0 auto;
  max-width: 1600px;
}
.full-page {
}
/* banner section */
header {
  background-image: url("./resources/Banner Image.png");
  background-repeat: no-repeat;
  max-width: 1320px;
  width: 100%;
  border-radius: 16px;
  max-height: 600px;
}
.banner-container {
  /* height: 700px; */
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: url("./resources/Rectangle 15.png");
  max-width: 1320px;
}

.banner-title {
  text-align: center;
  padding-top: 177px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.banner-heading {
  text-align: center;
  padding-top: 33px;
  color: #fff;
  padding-bottom: 177px;
  width: 632px;
  font-size: 70px;
  font-weight: 900;
  margin: 0 auto;
  height: 190px;
}
/* main section */
main {
  max-width: 1320px;
}
.main-gate {
  margin-top: 50px;
}
.offer {
  color: #f00;

  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 50px;
}
.offer-slogan {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offer-product {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 40px;
}
.offer-img {
  width: 800px;
  height: 500px;
  margin-left: 180px;
  margin-top: 50px;
}
/* .main-door section */
.door-section {
  background-image: url("./resources/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}
.front-door {
  margin-top: 100px;
  display: flex;

  background-image: url("./resources/Vector@2x.png");
  height: 100%;
  background-repeat: no-repeat;
}
.welcome-text {
  color: #fff;
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 800;
  width: 642px;
  margin-left: 30px;
  margin-top: 135px;
}
.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 30px;
}
.welcome-btn {
  color: #fff;
  background-color: transparent;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 60px;
  margin-top: 40px;
  border: none;
}
.window-1 {
}
.window-2 {
  max-width: 320;
  height: 460px;
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 180px;
}
.img-24 {
  width: 100%;
}
/* .location-section */
.location-div {
  width: 1209px;
  height: 600px;
  text-align: center;
  background-image: url("./resources/Vector red.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  max-width: 100%;
}
.location-text {
}
.adress {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  padding-top: 100px;
}
span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
}
.lal-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  background-color: #f00;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}
/* image section */
.image-section {
  max-width: 100%;
  width: 1209px;
  
}
.image-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.image-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.image-text {
  font-family: Inter;
}
/* picture-section */
.picture-section {
  display: flex;
  justify-content: space-between;
}
.picture {
  width: 300px;
  height: 340px;
  padding: 10px;
  
}
/* subscribe-section */
.subscribe-section {
  width: 1209px;
  height: 600px;
  margin-top: 100px;
  text-align: center;
  background-color: rgb(249, 237, 239);
  border-radius: 15px;
  padding-top: 100px;
  max-width: 100%;
}
.newsletter {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.subscribe-lorem {
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}
.email-field {
  width: 648px;
  height: 72px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  margin-top: 30px;
}
.gmail {
  width: 438px;
  height: 65px;
  border-radius: 50px 0px 0px 50px;
  color: black;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-left: 30px;
  border: none;
}
.suscribe {
  width: 210px;
  height: 65px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  margin-right: -5px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  
}
/* footer section */
footer{
  background-image: url('./resources/Rectangle 10.png');
  background-repeat: no-repeat;
  width: 1350px;
  height: 650px;
}
.sect2{
  width: 1350px;
  height: 650px;
}
.footer-section{
   
  max-width: 100%;
  max-height: 100%;
}
   
.firstline{
 display: flex;
 margin: 0px 140px 50px 140px;
 justify-content: space-between;
 
}
.footer-lorem{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.left-1{

}
.footer-number{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.footer-site{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.third-line{
  color:#fff;
  position: relative;
  top: 294px;
  left: 140px;
}

